* text=auto !eol
/branch[!!-~]changes.txt -text
middleware.core/mw.bus.tracker.core/ASL2.0.txt -text
middleware.core/mw.bus.tracker.core/NOTICE.txt -text
middleware.core/mw.bus.tracker.core/pom.xml -text
middleware.core/mw.bus.tracker.core/src/main/java/org/universAAL/middleware/tracker/IBusMemberRegistry.java -text
middleware.core/mw.bus.tracker.core/src/main/java/org/universAAL/middleware/tracker/IBusMemberRegistryListener.java -text
middleware.core/mw.bus.tracker.core/src/main/java/org/universAAL/middleware/tracker/impl/Activator.java -text
middleware.core/mw.bus.tracker.core/src/main/java/org/universAAL/middleware/tracker/impl/BusMemberRegistryImpl.java -text
middleware.core/mw.bus.tracker.core/src/test/java/org/universAAL/middleware/tracker/test/BusTrackerTestCase.java -text
middleware.core/mw.connectors.api.core/ASL2.0.txt -text
middleware.core/mw.connectors.api.core/NOTICE.txt -text
middleware.core/mw.connectors.api.core/pom.xml -text
middleware.core/mw.connectors.api.core/src/main/java/org/universAAL/middleware/connectors/CommunicationConnector.java -text
middleware.core/mw.connectors.api.core/src/main/java/org/universAAL/middleware/connectors/Connector.java -text
middleware.core/mw.connectors.api.core/src/main/java/org/universAAL/middleware/connectors/DiscoveryConnector.java -text
middleware.core/mw.connectors.api.core/src/main/java/org/universAAL/middleware/connectors/ServiceListener.java -text
middleware.core/mw.connectors.api.core/src/main/java/org/universAAL/middleware/connectors/exception/CommunicationConnectorErrorCode.java -text
middleware.core/mw.connectors.api.core/src/main/java/org/universAAL/middleware/connectors/exception/CommunicationConnectorException.java -text
middleware.core/mw.connectors.api.core/src/main/java/org/universAAL/middleware/connectors/exception/DiscoveryConnectorErrorCodes.java -text
middleware.core/mw.connectors.api.core/src/main/java/org/universAAL/middleware/connectors/exception/DiscoveryConnectorException.java -text
middleware.core/mw.connectors.api.core/src/main/java/org/universAAL/middleware/connectors/util/ChannelMessage.java -text
middleware.core/mw.connectors.api.core/src/main/java/org/universAAL/middleware/connectors/util/ChannelMessageFields.java -text
middleware.core/mw.connectors.api.core/src/main/java/org/universAAL/middleware/connectors/util/Consts.java -text
middleware.core/mw.connectors.api.core/src/main/java/org/universAAL/middleware/connectors/util/ExceptionUtils.java svneol=native#text/plain
middleware.core/mw.connectors.api.core/src/test/java/org/universAAL/middleware/connectors/util/ChannelMessageTest.java svneol=native#text/plain
middleware.core/mw.connectors.api.core/src/test/resources/org/universAAL/middleware/connectors/util/ChannelMeessage.dump.json -text
middleware.core/mw.connectors.communication.jgroups.core/ASL2.0.txt -text
middleware.core/mw.connectors.communication.jgroups.core/NOTICE.txt -text
middleware.core/mw.connectors.communication.jgroups.core/pom.xml -text
middleware.core/mw.connectors.communication.jgroups.core/src/main/java/org/universAAL/middleware/connectors/communication/jgroups/JGroupsCommunicationConnector.java -text
middleware.core/mw.connectors.communication.jgroups.core/src/main/java/org/universAAL/middleware/connectors/communication/jgroups/util/Codec.java -text
middleware.core/mw.connectors.communication.jgroups.core/src/main/java/org/universAAL/middleware/connectors/communication/jgroups/util/Consts.java -text svneol=unset#text/plain
middleware.core/mw.connectors.communication.jgroups.core/src/main/java/org/universAAL/middleware/connectors/communication/jgroups/util/CryptUtil.java -text
middleware.core/mw.connectors.discovery.slp.core/ASL2.0.txt -text
middleware.core/mw.connectors.discovery.slp.core/NOTICE.txt -text
middleware.core/mw.connectors.discovery.slp.core/pom.xml -text
middleware.core/mw.connectors.discovery.slp.core/src/main/java/org/universAAL/middleware/connectors/discovery/slp/SLPBrowser.java -text
middleware.core/mw.connectors.discovery.slp.core/src/main/java/org/universAAL/middleware/connectors/discovery/slp/SLPDiscoveryConnector.java -text
middleware.core/mw.connectors.discovery.slp.core/src/main/java/org/universAAL/middleware/connectors/discovery/slp/util/Consts.java -text
middleware.core/mw.data.serialization.core/ASL2.0.txt -text
middleware.core/mw.data.serialization.core/NOTICE.txt -text
middleware.core/mw.data.serialization.core/pom.xml -text
middleware.core/mw.data.serialization.core/src/main/java/org/universAAL/middleware/serialization/turtle/TurtleParser.java -text
middleware.core/mw.data.serialization.core/src/main/java/org/universAAL/middleware/serialization/turtle/TurtleSerializer.java -text
middleware.core/mw.data.serialization.core/src/main/java/org/universAAL/middleware/serialization/turtle/TurtleUtil.java -text
middleware.core/mw.data.serialization.core/src/main/java/org/universAAL/middleware/serialization/turtle/TurtleWriter.java -text
middleware.core/mw.data.serialization.core/src/test/java/org/universAAL/serialization/turtle/InitialTest.java -text
middleware.core/mw.data.serialization.core/src/test/java/org/universAAL/serialization/turtle/TurtleTest.java -text
middleware.core/mw.managers.aalspace.core/ASL2.0.txt -text
middleware.core/mw.managers.aalspace.core/NOTICE.txt -text
middleware.core/mw.managers.aalspace.core/pom.xml -text
middleware.core/mw.managers.aalspace.core/src/main/java/org/universAAL/middleware/managers/aalspace/AALSpaceManagerImpl.java -text
middleware.core/mw.managers.aalspace.core/src/main/java/org/universAAL/middleware/managers/aalspace/MatchingResultImpl.java -text
middleware.core/mw.managers.aalspace.core/src/main/java/org/universAAL/middleware/managers/aalspace/util/CheckPeerThread.java -text
middleware.core/mw.managers.aalspace.core/src/main/java/org/universAAL/middleware/managers/aalspace/util/Consts.java -text
middleware.core/mw.managers.aalspace.core/src/main/java/org/universAAL/middleware/managers/aalspace/util/Joiner.java -text
middleware.core/mw.managers.aalspace.core/src/main/java/org/universAAL/middleware/managers/aalspace/util/RefreshAALSpaceThread.java -text
middleware.resources/mw.schemas/ASL2.0.txt -text
middleware.resources/mw.schemas/NOTICE.txt -text
middleware.resources/mw.schemas/pom.xml -text
middleware.resources/mw.schemas/src/main/java/org/universAAL/middleware/aalspace/json/model/AALSpace.java -text svneol=unset#text/plain
middleware.resources/mw.schemas/src/main/java/org/universAAL/middleware/aalspace/json/model/ChannelDescriptor.java -text svneol=unset#text/plain
middleware.resources/mw.schemas/src/main/java/org/universAAL/middleware/interfaces/aalspace/model/IAALSpace.java -text svneol=unset#text/plain
middleware.resources/mw.schemas/src/main/java/org/universAAL/middleware/interfaces/aalspace/model/IChannelDescriptor.java -text svneol=unset#text/plain
middleware.resources/mw.schemas/src/main/java/org/universAAL/middleware/interfaces/aalspace/model/ICommunicationChannels.java -text svneol=unset#text/plain
middleware.resources/mw.schemas/src/main/java/org/universAAL/middleware/interfaces/aalspace/model/IPeeringChannel.java -text svneol=unset#text/plain
middleware.resources/mw.schemas/src/main/java/org/universAAL/middleware/interfaces/aalspace/model/ISpaceDescriptor.java -text svneol=unset#text/plain
middleware.resources/mw.schemas/src/main/resources/AAL-UAPP.xsd svneol=native#text/xml
middleware.resources/mw.schemas/src/main/resources/AAL-USRV.xsd svneol=native#text/xml
middleware.resources/mw.schemas/src/main/resources/aalspace-channel.xsd -text
middleware.resources/mw.schemas/src/main/resources/aalspace.xsd -text
middleware.resources/mw.schemas/src/main/resources/binding.xjb -text
middleware.resources/mw.schemas/src/main/resources/karaf-provvisioning-v1.0.0.xsd -text
middleware.resources/mw.schemas/src/test/resources/org/universAAL/middleware/deploymanager/uapp/model/hwo.uapp.xml svneol=native#text/xml
middleware.resources/mw.schemas/src/test/resources/org/universAAL/middleware/interfaces/aalspace/xml/model/Home.1.0.1.space -text
middleware.resources/mw.schemas/src/test/resources/org/universAAL/middleware/interfaces/aalspace/xml/model/Home.space -text
thirdparty/jslp.core/LICENSE-BSD.txt -text
thirdparty/jslp.core/LICENSE-EPL.TXT -text
thirdparty/jslp.core/pom.xml -text
thirdparty/jslp.core/src/main/java/ch/ethz/iks/slp/Advertiser.java -text
thirdparty/jslp.core/src/main/java/ch/ethz/iks/slp/Locator.java -text
thirdparty/jslp.core/src/main/java/ch/ethz/iks/slp/ServiceLocationEnumeration.java -text
thirdparty/jslp.core/src/main/java/ch/ethz/iks/slp/ServiceLocationException.java -text
thirdparty/jslp.core/src/main/java/ch/ethz/iks/slp/ServiceType.java -text
thirdparty/jslp.core/src/main/java/ch/ethz/iks/slp/ServiceURL.java -text
thirdparty/jslp.core/src/main/java/ch/ethz/iks/slp/impl/AdvertiserImpl.java -text
thirdparty/jslp.core/src/main/java/ch/ethz/iks/slp/impl/AttributeReply.java -text
thirdparty/jslp.core/src/main/java/ch/ethz/iks/slp/impl/AttributeRequest.java -text
thirdparty/jslp.core/src/main/java/ch/ethz/iks/slp/impl/AuthenticatedURL.java -text
thirdparty/jslp.core/src/main/java/ch/ethz/iks/slp/impl/AuthenticationBlock.java -text
thirdparty/jslp.core/src/main/java/ch/ethz/iks/slp/impl/DAAdvertisement.java -text
thirdparty/jslp.core/src/main/java/ch/ethz/iks/slp/impl/LocatorImpl.java -text
thirdparty/jslp.core/src/main/java/ch/ethz/iks/slp/impl/PlatformAbstraction.java -text
thirdparty/jslp.core/src/main/java/ch/ethz/iks/slp/impl/ReplyMessage.java -text
thirdparty/jslp.core/src/main/java/ch/ethz/iks/slp/impl/RequestMessage.java -text
thirdparty/jslp.core/src/main/java/ch/ethz/iks/slp/impl/SLPConfiguration.java -text
thirdparty/jslp.core/src/main/java/ch/ethz/iks/slp/impl/SLPCore.java -text
thirdparty/jslp.core/src/main/java/ch/ethz/iks/slp/impl/SLPDaemon.java -text
thirdparty/jslp.core/src/main/java/ch/ethz/iks/slp/impl/SLPDaemonImpl.java -text
thirdparty/jslp.core/src/main/java/ch/ethz/iks/slp/impl/SLPMessage.java -text
thirdparty/jslp.core/src/main/java/ch/ethz/iks/slp/impl/SLPUtils.java -text
thirdparty/jslp.core/src/main/java/ch/ethz/iks/slp/impl/Service.java -text
thirdparty/jslp.core/src/main/java/ch/ethz/iks/slp/impl/ServiceAcknowledgement.java -text
thirdparty/jslp.core/src/main/java/ch/ethz/iks/slp/impl/ServiceDeregistration.java -text
thirdparty/jslp.core/src/main/java/ch/ethz/iks/slp/impl/ServiceLocationEnumerationImpl.java -text
thirdparty/jslp.core/src/main/java/ch/ethz/iks/slp/impl/ServiceRegistration.java -text
thirdparty/jslp.core/src/main/java/ch/ethz/iks/slp/impl/ServiceReply.java -text
thirdparty/jslp.core/src/main/java/ch/ethz/iks/slp/impl/ServiceRequest.java -text
thirdparty/jslp.core/src/main/java/ch/ethz/iks/slp/impl/ServiceTypeReply.java -text
thirdparty/jslp.core/src/main/java/ch/ethz/iks/slp/impl/ServiceTypeRequest.java -text
thirdparty/jslp.core/src/main/java/ch/ethz/iks/slp/impl/filter/Filter.java -text
thirdparty/jslp.core/src/main/java/ch/ethz/iks/slp/impl/package.html -text
thirdparty/jslp.core/src/main/java/ch/ethz/iks/slp/package.html -text
thirdparty/jslp.core/src/main/resources/LICENSE-BSD.txt -text
thirdparty/jslp.core/src/main/resources/LICENSE-EPL.TXT -text
