2.0.2-SNAPSHOT/mw.connectors.deploy.karaf.osgi-2.0.2-SNAPSHOT/.classpath
2.0.2-SNAPSHOT/mw.connectors.deploy.karaf.osgi-2.0.2-SNAPSHOT/.project
2.0.2-SNAPSHOT/mw.connectors.deploy.karaf.osgi-2.0.2-SNAPSHOT/.settings
2.0.2-SNAPSHOT/mw.connectors.deploy.karaf.osgi-2.0.2-SNAPSHOT/target
2.0.2-SNAPSHOT/mw.interfaces.core-2.0.2-SNAPSHOT/.classpath
2.0.2-SNAPSHOT/mw.interfaces.core-2.0.2-SNAPSHOT/.project
2.0.2-SNAPSHOT/mw.interfaces.core-2.0.2-SNAPSHOT/.settings
2.0.2-SNAPSHOT/mw.interfaces.core-2.0.2-SNAPSHOT/bin
2.0.2-SNAPSHOT/mw.interfaces.core-2.0.2-SNAPSHOT/target
2.0.2-SNAPSHOT/mw.interfaces.osgi-2.0.2-SNAPSHOT/.classpath
2.0.2-SNAPSHOT/mw.interfaces.osgi-2.0.2-SNAPSHOT/.project
2.0.2-SNAPSHOT/mw.interfaces.osgi-2.0.2-SNAPSHOT/.settings
2.0.2-SNAPSHOT/mw.interfaces.osgi-2.0.2-SNAPSHOT/src
2.0.2-SNAPSHOT/mw.interfaces.osgi-2.0.2-SNAPSHOT/target
2.0.2-SNAPSHOT/mw.managers.deploy.core-2.0.2-SNAPSHOT/.classpath
2.0.2-SNAPSHOT/mw.managers.deploy.core-2.0.2-SNAPSHOT/.project
2.0.2-SNAPSHOT/mw.managers.deploy.core-2.0.2-SNAPSHOT/.settings
2.0.2-SNAPSHOT/mw.managers.deploy.core-2.0.2-SNAPSHOT/target
2.0.2-SNAPSHOT/mw.managers.deploy.osgi-2.0.2-SNAPSHOT/.classpath
2.0.2-SNAPSHOT/mw.managers.deploy.osgi-2.0.2-SNAPSHOT/.project
2.0.2-SNAPSHOT/mw.managers.deploy.osgi-2.0.2-SNAPSHOT/.settings
2.0.2-SNAPSHOT/mw.managers.deploy.osgi-2.0.2-SNAPSHOT/etc
2.0.2-SNAPSHOT/mw.managers.deploy.osgi-2.0.2-SNAPSHOT/installation.registry
2.0.2-SNAPSHOT/mw.managers.deploy.osgi-2.0.2-SNAPSHOT/target
