* text=auto !eol
middleware.core/mw.brokers.api.core/ASL2.0.txt -text
middleware.core/mw.brokers.api.core/NOTICE.txt -text
middleware.core/mw.brokers.api.core/pom.xml -text
middleware.core/mw.brokers.api.core/src/main/java/org/universAAL/middleware/brokers/Broker.java -text
middleware.core/mw.brokers.api.core/src/main/java/org/universAAL/middleware/brokers/message/BrokerMessage.java -text
middleware.core/mw.brokers.api.core/src/main/java/org/universAAL/middleware/brokers/message/BrokerMessageFields.java -text
middleware.core/mw.brokers.api.core/src/main/java/org/universAAL/middleware/brokers/message/Payload.java -text
middleware.core/mw.brokers.api.core/src/main/java/org/universAAL/middleware/brokers/message/aalspace/AALSpaceMessage.java -text
middleware.core/mw.brokers.api.core/src/main/java/org/universAAL/middleware/brokers/message/aalspace/AALSpaceMessageException.java -text
middleware.core/mw.brokers.api.core/src/main/java/org/universAAL/middleware/brokers/message/aalspace/AALSpaceMessageFields.java -text
middleware.core/mw.brokers.api.core/src/main/java/org/universAAL/middleware/brokers/message/control/ControlMessage.java -text
middleware.core/mw.brokers.api.core/src/main/java/org/universAAL/middleware/brokers/message/deploy/DeployMessage.java -text
middleware.core/mw.brokers.api.core/src/main/java/org/universAAL/middleware/brokers/message/deploy/DeployMessageException.java -text
middleware.core/mw.brokers.api.core/src/main/java/org/universAAL/middleware/brokers/message/deploy/DeployMessageFields.java -text
middleware.core/mw.brokers.api.core/src/main/java/org/universAAL/middleware/brokers/message/deploy/DeployNotificationPayload.java -text
middleware.core/mw.brokers.api.core/src/main/java/org/universAAL/middleware/brokers/message/deploy/DeployPayload.java -text
middleware.core/mw.brokers.api.core/src/test/java/org/universAAL/middleware/brokers/message/control/ControlMessageTest.java -text
middleware.core/mw.connectors.api.core/ASL2.0.txt -text
middleware.core/mw.connectors.api.core/NOTICE.txt -text
middleware.core/mw.connectors.api.core/pom.xml -text
middleware.core/mw.connectors.api.core/src/main/java/org/universAAL/middleware/connectors/CommunicationConnector.java -text
middleware.core/mw.connectors.api.core/src/main/java/org/universAAL/middleware/connectors/Connector.java -text
middleware.core/mw.connectors.api.core/src/main/java/org/universAAL/middleware/connectors/DeployConnector.java -text
middleware.core/mw.connectors.api.core/src/main/java/org/universAAL/middleware/connectors/DiscoveryConnector.java -text
middleware.core/mw.connectors.api.core/src/main/java/org/universAAL/middleware/connectors/ServiceListener.java -text
middleware.core/mw.connectors.api.core/src/main/java/org/universAAL/middleware/connectors/exception/CommunicationConnectorErrorCode.java -text
middleware.core/mw.connectors.api.core/src/main/java/org/universAAL/middleware/connectors/exception/CommunicationConnectorException.java -text
middleware.core/mw.connectors.api.core/src/main/java/org/universAAL/middleware/connectors/exception/DiscoveryConnectorErrorCodes.java -text
middleware.core/mw.connectors.api.core/src/main/java/org/universAAL/middleware/connectors/exception/DiscoveryConnectorException.java -text
middleware.core/mw.connectors.api.core/src/main/java/org/universAAL/middleware/connectors/util/ChannelMessage.java -text
middleware.core/mw.connectors.api.core/src/main/java/org/universAAL/middleware/connectors/util/ChannelMessageFields.java -text
middleware.core/mw.connectors.api.core/src/main/java/org/universAAL/middleware/connectors/util/Consts.java -text
middleware.core/mw.connectors.api.core/src/main/java/org/universAAL/middleware/connectors/util/ExceptionUtils.java svneol=native#text/plain
middleware.core/mw.container.xfaces.core/ASL2.0.txt -text
middleware.core/mw.container.xfaces.core/NOTICE.txt -text
middleware.core/mw.container.xfaces.core/pom.xml -text
middleware.core/mw.container.xfaces.core/src/main/java/org/universAAL/middleware/container/Container.java -text
middleware.core/mw.container.xfaces.core/src/main/java/org/universAAL/middleware/container/LogListener.java -text
middleware.core/mw.container.xfaces.core/src/main/java/org/universAAL/middleware/container/ModuleActivator.java -text
middleware.core/mw.container.xfaces.core/src/main/java/org/universAAL/middleware/container/ModuleContext.java -text
middleware.core/mw.container.xfaces.core/src/main/java/org/universAAL/middleware/container/SharedObjectListener.java -text
middleware.core/mw.container.xfaces.core/src/main/java/org/universAAL/middleware/container/utils/LogUtils.java -text
middleware.core/mw.container.xfaces.core/src/main/java/org/universAAL/middleware/container/utils/Messages.java -text svneol=unset#text/plain
middleware.core/mw.container.xfaces.core/src/main/java/org/universAAL/middleware/container/utils/ModuleConfigHome.java -text
middleware.core/mw.container.xfaces.core/src/main/java/org/universAAL/middleware/container/utils/StringUtils.java -text
middleware.core/mw.container.xfaces.core/src/test/java/org/universAAL/tests/MessagesTest.java -text svneol=unset#text/plain
middleware.core/mw.container.xfaces.core/src/test/resources/messages.properties -text svneol=unset#text/plain
middleware.core/mw.container.xfaces.core/src/test/resources/messages_de.properties -text svneol=unset#text/plain
middleware.core/mw.container.xfaces.core/src/test/resources/messages_en.properties -text svneol=unset#text/plain
middleware.core/mw.interfaces.core/ASL2.0.txt -text
middleware.core/mw.interfaces.core/NOTICE.txt -text
middleware.core/mw.interfaces.core/pom.xml -text
middleware.core/mw.interfaces.core/src/main/java/org/universAAL/middleware/interfaces/ChannelDescriptor.java -text
middleware.core/mw.interfaces.core/src/main/java/org/universAAL/middleware/interfaces/PeerCard.java -text
middleware.core/mw.interfaces.core/src/main/java/org/universAAL/middleware/interfaces/PeerRole.java -text
middleware.core/mw.interfaces.core/src/main/java/org/universAAL/middleware/interfaces/aalspace/AALSpaceCard.java -text
middleware.core/mw.interfaces.core/src/main/java/org/universAAL/middleware/interfaces/aalspace/AALSpaceDescriptor.java -text
middleware.core/mw.interfaces.core/src/main/java/org/universAAL/middleware/interfaces/aalspace/AALSpaceStatus.java -text
middleware.core/mw.interfaces.core/src/main/java/org/universAAL/middleware/interfaces/aalspace/AALSpaceType.java -text
middleware.core/mw.interfaces.core/src/main/java/org/universAAL/middleware/interfaces/aalspace/Consts.java -text
middleware.core/mw.interfaces.core/src/main/java/org/universAAL/middleware/interfaces/mpa/Pair.java -text
middleware.core/mw.interfaces.core/src/main/java/org/universAAL/middleware/interfaces/mpa/UAPPCard.java -text
middleware.core/mw.interfaces.core/src/main/java/org/universAAL/middleware/interfaces/mpa/UAPPPartStatus.java -text
middleware.core/mw.interfaces.core/src/main/java/org/universAAL/middleware/interfaces/mpa/UAPPStatus.java -text
middleware.core/mw.interfaces.core/src/main/java/org/universAAL/middleware/interfaces/mpa/model/AalMpa.java -text
middleware.core/mw.interfaces.core/src/main/java/org/universAAL/middleware/interfaces/mpa/model/Artifact.java -text
middleware.core/mw.interfaces.core/src/main/java/org/universAAL/middleware/interfaces/mpa/model/ArtifactType.java -text
middleware.core/mw.interfaces.core/src/main/java/org/universAAL/middleware/interfaces/mpa/model/Broker.java -text
middleware.core/mw.interfaces.core/src/main/java/org/universAAL/middleware/interfaces/mpa/model/Brokers.java -text
middleware.core/mw.interfaces.core/src/main/java/org/universAAL/middleware/interfaces/mpa/model/Bundle.java -text
middleware.core/mw.interfaces.core/src/main/java/org/universAAL/middleware/interfaces/mpa/model/Config.java -text
middleware.core/mw.interfaces.core/src/main/java/org/universAAL/middleware/interfaces/mpa/model/ConfigFile.java -text
middleware.core/mw.interfaces.core/src/main/java/org/universAAL/middleware/interfaces/mpa/model/Dependency.java -text
middleware.core/mw.interfaces.core/src/main/java/org/universAAL/middleware/interfaces/mpa/model/DeploymentUnit.java -text
middleware.core/mw.interfaces.core/src/main/java/org/universAAL/middleware/interfaces/mpa/model/EmbeddingType.java -text
middleware.core/mw.interfaces.core/src/main/java/org/universAAL/middleware/interfaces/mpa/model/ExecutionUnit.java -text
middleware.core/mw.interfaces.core/src/main/java/org/universAAL/middleware/interfaces/mpa/model/Feature.java -text
middleware.core/mw.interfaces.core/src/main/java/org/universAAL/middleware/interfaces/mpa/model/FeaturesRoot.java -text
middleware.core/mw.interfaces.core/src/main/java/org/universAAL/middleware/interfaces/mpa/model/ObjectFactory.java -text
middleware.core/mw.interfaces.core/src/main/java/org/universAAL/middleware/interfaces/mpa/model/OntologyType.java -text
middleware.core/mw.interfaces.core/src/main/java/org/universAAL/middleware/interfaces/mpa/model/OsType.java -text
middleware.core/mw.interfaces.core/src/main/java/org/universAAL/middleware/interfaces/mpa/model/Part.java -text
middleware.core/mw.interfaces.core/src/main/java/org/universAAL/middleware/interfaces/mpa/model/PlatformType.java -text
middleware.core/mw.interfaces.core/src/main/java/org/universAAL/middleware/interfaces/mpa/model/ProfileType.java -text
middleware.core/mw.interfaces.core/src/main/java/org/universAAL/middleware/interfaces/mpa/model/SpaceType.java -text
middleware.core/mw.interfaces.core/src/main/java/org/universAAL/middleware/interfaces/mpa/model/ToBeDefined.java -text
middleware.core/mw.interfaces.core/src/main/java/org/universAAL/middleware/interfaces/mpa/model/VersionType.java -text
middleware.core/mw.interfaces.core/src/main/java/org/universAAL/middleware/interfaces/mpa/model/package-info.java -text
middleware.core/mw.interfaces.core/src/main/java/org/universAAL/middleware/interfaces/utils/Util.java -text
middleware.core/mw.modules.api.core/ASL2.0.txt -text
middleware.core/mw.modules.api.core/NOTICE.txt -text
middleware.core/mw.modules.api.core/pom.xml -text
middleware.core/mw.modules.api.core/src/main/java/org/universAAL/middleware/modules/AALSpaceModule.java -text
middleware.core/mw.modules.api.core/src/main/java/org/universAAL/middleware/modules/CommunicationModule.java -text
middleware.core/mw.modules.api.core/src/main/java/org/universAAL/middleware/modules/ConfigurableCommunicationModule.java -text
middleware.core/mw.modules.api.core/src/main/java/org/universAAL/middleware/modules/DeployModule.java -text
middleware.core/mw.modules.api.core/src/main/java/org/universAAL/middleware/modules/Module.java -text
middleware.core/mw.modules.api.core/src/main/java/org/universAAL/middleware/modules/exception/AALSpaceModuleErrorCode.java -text
middleware.core/mw.modules.api.core/src/main/java/org/universAAL/middleware/modules/exception/AALSpaceModuleException.java -text
middleware.core/mw.modules.api.core/src/main/java/org/universAAL/middleware/modules/exception/CommunicationModuleErrorCode.java -text
middleware.core/mw.modules.api.core/src/main/java/org/universAAL/middleware/modules/exception/CommunicationModuleException.java -text
middleware.core/mw.modules.api.core/src/main/java/org/universAAL/middleware/modules/listener/MessageListener.java -text
middleware.core/mw.modules.api.core/src/main/java/org/universAAL/middleware/modules/util/Consts.java -text
middleware.core/mw.modules.communication.core/ASL2.0.txt -text
middleware.core/mw.modules.communication.core/NOTICE.txt -text
middleware.core/mw.modules.communication.core/pom.xml -text
middleware.core/mw.modules.communication.core/src/main/java/org/universAAL/middleware/modules/communication/BroadcastExecutor.java -text
middleware.core/mw.modules.communication.core/src/main/java/org/universAAL/middleware/modules/communication/CommunicationModuleImpl.java -text
middleware.core/mw.modules.communication.core/src/main/java/org/universAAL/middleware/modules/communication/UnicastExecutor.java -text
middleware.core/mw.pom.core/pom.xml -text
middleware.osgi/mw.pom.osgi/composite/ASL2.0.txt -text
middleware.osgi/mw.pom.osgi/composite/NOTICE.txt -text
middleware.osgi/mw.pom.osgi/composite/pom.xml -text
middleware.osgi/mw.pom.osgi/pom.xml -text
middleware.resources/mw.schemas/ASL2.0.txt -text
middleware.resources/mw.schemas/NOTICE.txt -text
middleware.resources/mw.schemas/pom.xml -text
middleware.resources/mw.schemas/src/main/java/org/universAAL/middleware/connectors/deploy/karaf/model/Bundle.java -text
middleware.resources/mw.schemas/src/main/java/org/universAAL/middleware/connectors/deploy/karaf/model/Config.java -text
middleware.resources/mw.schemas/src/main/java/org/universAAL/middleware/connectors/deploy/karaf/model/ConfigFile.java -text
middleware.resources/mw.schemas/src/main/java/org/universAAL/middleware/connectors/deploy/karaf/model/Dependency.java -text
middleware.resources/mw.schemas/src/main/java/org/universAAL/middleware/connectors/deploy/karaf/model/Feature.java -text
middleware.resources/mw.schemas/src/main/java/org/universAAL/middleware/connectors/deploy/karaf/model/FeaturesRoot.java -text
middleware.resources/mw.schemas/src/main/java/org/universAAL/middleware/connectors/deploy/karaf/model/ObjectFactory.java -text
middleware.resources/mw.schemas/src/main/java/org/universAAL/middleware/connectors/deploy/karaf/model/package-info.java -text
middleware.resources/mw.schemas/src/main/java/org/universAAL/middleware/deploymanager/uapp/model/AalUapp.java -text
middleware.resources/mw.schemas/src/main/java/org/universAAL/middleware/deploymanager/uapp/model/ArtifactType.java -text
middleware.resources/mw.schemas/src/main/java/org/universAAL/middleware/deploymanager/uapp/model/Broker.java -text
middleware.resources/mw.schemas/src/main/java/org/universAAL/middleware/deploymanager/uapp/model/Bundle.java svneol=native#text/plain
middleware.resources/mw.schemas/src/main/java/org/universAAL/middleware/deploymanager/uapp/model/CapabilityType.java -text
middleware.resources/mw.schemas/src/main/java/org/universAAL/middleware/deploymanager/uapp/model/Config.java svneol=native#text/plain
middleware.resources/mw.schemas/src/main/java/org/universAAL/middleware/deploymanager/uapp/model/ConfigFile.java svneol=native#text/plain
middleware.resources/mw.schemas/src/main/java/org/universAAL/middleware/deploymanager/uapp/model/ContactType.java -text
middleware.resources/mw.schemas/src/main/java/org/universAAL/middleware/deploymanager/uapp/model/Dependency.java svneol=native#text/plain
middleware.resources/mw.schemas/src/main/java/org/universAAL/middleware/deploymanager/uapp/model/DeploymentUnit.java -text
middleware.resources/mw.schemas/src/main/java/org/universAAL/middleware/deploymanager/uapp/model/EmbeddingType.java -text
middleware.resources/mw.schemas/src/main/java/org/universAAL/middleware/deploymanager/uapp/model/ExecutionUnit.java -text
middleware.resources/mw.schemas/src/main/java/org/universAAL/middleware/deploymanager/uapp/model/Feature.java svneol=native#text/plain
middleware.resources/mw.schemas/src/main/java/org/universAAL/middleware/deploymanager/uapp/model/FeaturesRoot.java svneol=native#text/plain
middleware.resources/mw.schemas/src/main/java/org/universAAL/middleware/deploymanager/uapp/model/LicenseCategoryType.java -text
middleware.resources/mw.schemas/src/main/java/org/universAAL/middleware/deploymanager/uapp/model/LicenseType.java -text
middleware.resources/mw.schemas/src/main/java/org/universAAL/middleware/deploymanager/uapp/model/LogicalCriteriaType.java -text
middleware.resources/mw.schemas/src/main/java/org/universAAL/middleware/deploymanager/uapp/model/LogicalRelationType.java -text
middleware.resources/mw.schemas/src/main/java/org/universAAL/middleware/deploymanager/uapp/model/ObjectFactory.java -text
middleware.resources/mw.schemas/src/main/java/org/universAAL/middleware/deploymanager/uapp/model/OntologyType.java -text
middleware.resources/mw.schemas/src/main/java/org/universAAL/middleware/deploymanager/uapp/model/OsType.java -text
middleware.resources/mw.schemas/src/main/java/org/universAAL/middleware/deploymanager/uapp/model/Part.java -text
middleware.resources/mw.schemas/src/main/java/org/universAAL/middleware/deploymanager/uapp/model/PlatformType.java -text
middleware.resources/mw.schemas/src/main/java/org/universAAL/middleware/deploymanager/uapp/model/ProfileType.java -text
middleware.resources/mw.schemas/src/main/java/org/universAAL/middleware/deploymanager/uapp/model/ReqAtomType.java -text
middleware.resources/mw.schemas/src/main/java/org/universAAL/middleware/deploymanager/uapp/model/ReqCriticalityType.java -text
middleware.resources/mw.schemas/src/main/java/org/universAAL/middleware/deploymanager/uapp/model/ReqGroupType.java -text
middleware.resources/mw.schemas/src/main/java/org/universAAL/middleware/deploymanager/uapp/model/ReqType.java -text
middleware.resources/mw.schemas/src/main/java/org/universAAL/middleware/deploymanager/uapp/model/SpaceType.java -text
middleware.resources/mw.schemas/src/main/java/org/universAAL/middleware/deploymanager/uapp/model/ToBeDefined.java -text
middleware.resources/mw.schemas/src/main/java/org/universAAL/middleware/deploymanager/uapp/model/VersionType.java -text
middleware.resources/mw.schemas/src/main/java/org/universAAL/middleware/deploymanager/uapp/model/package-info.java -text
middleware.resources/mw.schemas/src/main/java/org/universAAL/middleware/interfaces/aalspace/model/Aalspace.java -text
middleware.resources/mw.schemas/src/main/java/org/universAAL/middleware/interfaces/aalspace/model/ChannelDescriptor.java -text
middleware.resources/mw.schemas/src/main/java/org/universAAL/middleware/interfaces/aalspace/model/ObjectFactory.java -text
middleware.resources/mw.schemas/src/main/java/org/universAAL/middleware/interfaces/aalspace/model/package-info.java -text
middleware.resources/mw.schemas/src/main/resources/AAL-UAPP.xsd svneol=native#text/xml
middleware.resources/mw.schemas/src/main/resources/AAL-USRV.xsd svneol=native#text/xml
middleware.resources/mw.schemas/src/main/resources/aalspace-channel.xsd -text
middleware.resources/mw.schemas/src/main/resources/aalspace.xsd -text
middleware.resources/mw.schemas/src/main/resources/binding.xjb -text
middleware.resources/mw.schemas/src/main/resources/karaf-provvisioning-v1.0.0.xsd -text
middleware.resources/mw.schemas/src/test/java/org/universAAL/middleware/deploymanager/uapp/model/TestDeployMangerModel.java svneol=native#text/plain
middleware.resources/mw.schemas/src/test/resources/org/universAAL/middleware/deploymanager/uapp/model/hwo.uapp.xml svneol=native#text/xml
pom/pom.xml -text
